include mixins
doctype html
html(lang="en")
  head
    block meta
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="ie=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=yes")
      meta(name="author", content="BassOfBass")
      meta(name="description", content="The simple Node.js server made with Express framework.")

    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

    block styles
      link(rel='stylesheet', href='/stylesheets/template.css')

    block scripts
      script(src="/js/main.js" defer)

    title #{title}

  body
    a.gskip(href="#maincontent") Skip to content
    header.gheader
      block globalheader
        ul.gtop
          li
            a.glogo(href="/") Express Server
          li
            form.gsearch(role="search")
              div
                input#globalsearch(type="seach", name="query", aria-label="Search through the site content")
              div
                button(type="submit") Go!

        nav.gnav
          ul
            //- creating side panel using https://css-tricks.com/the-checkbox-hack/
            li.gsidepanel
              label(for="togglegpanel", role="button", tabindex="0") Side Pane
              input#togglegpanel(type="checkbox", aria-hidden="true")
              aside.gpanel
                h2 Side Panel
                p Very important information about this panel
                ol
                  li.
                    It has a really cool slide-out information box.
                  li.
                    This information box uses a combination of fixed positioning and a CSS transition for the smooth sliding.
                  li.
                    It also uses a cool technique called the #[a(href="https://css-tricks.com/the-checkbox-hack/") checkbox hack].
                  li.
                    This allows you to create a nice "toggle on/toggle off" UI effect without using any JavaScript, which will work in IE9 and above (the smooth transition will work in IE10 and above.)

            li
              a(href="/things") Things
            li
              a(href="/users") Users
            li
              a(href="/assess") Tests
            li
              a(href="users/signup") Sign Up
    
    noscript.
      You need to enable JavaScript to run this app.
      
    main#maincontent
      block content

    block globalasides
      aside.gaside Global aside

    footer.gfooter 
      block globalfooter
        address
          a(href="https://github.com/BassOfBass") My GitHub
        
        button.glightswitch(type="button").
          Dark#[br]Light
