doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/template.css')
    title= title
  body
    a.gskip(href="#maincontent") Skip to content
    header.gheader
      h1= title
      nav
        ul
          li
            a(href="/index") Home
            a(href="/users") Users
            a(href="/tests") Tests
    main#maincontent
      block content
    aside.gaside aside
    footer.gfooter footer
