extends layout

block content
  ul
    li #[a(href="/things/person") Person]
    li #[a(href="/things/people") People]
    li #[a(href="/things/clear-cookie") Clear cookie]
    li #[a(href="/things/signup") Signup] 