html {
  font: 1em / 1.4 Helvetica Neue, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

*, 
*::before, 
*::after {
  box-sizing: inherit;
}

body {
  max-width: 500px;
  color: #333;
  background-color: #fff;
  padding: 1em;
  margin: 0;
}

h2 {
  text-align: center;
}

form {
  border: 2px solid lightgray;
  border-radius: 1em;
  padding: 1em;
}

form > ul {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

form > ul > li {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 0.5em;
}

label {
  cursor: pointer;
}

button, 
input, 
select, 
textarea {
  box-sizing: border-box;
  min-width: 44px;
  min-height: 44px;
  width : 300px;
  font-family: inherit;
  font-size: 100%;
  border-radius: 5px;
  padding: 0;
  margin: 0;
}

input,
textarea {
  caret-color: inherit;
}

button:disabled, 
input:disabled, 
select:disabled, 
textarea:disabled {
  cursor: not-allowed;
}