extends ../layout

append styles

append scripts

block content
  h1 Client-side frameworks
  section
    ul
      li #[a( href=absoluteURL("/assess/client-frameworks/vanilla") ) Vanilla DOM example]
      li #[a(href=absoluteURL("/assess/client-frameworks/react")) React example]