extends ../layout

append styles
  link(rel="stylesheet", href="/stylesheets/assess/learn-area.css")

append scripts
  script(src="/js/assess/learn-area.js" defer)

block content
  section
    h1 #{title}
    nav(hidden)
      ul
        li
    article
      header
        h2 How to build custom form controls
      section
        form.no-widget(action="", method="POST")
          select(name="myFruit")
            option Cherry
            option Lemon
            option Banana
            option Strawberry
            option Apple
          div.select(tabindex="0", role="listbox")
            span.value Cherry
            ul.optlist.hidden(role="presentation")
              li.option(role="option") Cherry
              li.option(role="option") Lemon
              li.option(role="option") Banana
              li.option(role="option") Strawberry
              li.option(role="option") Apple
    article
      header
        h2 Using radio buttons
      section
        form
          fieldset 
            legend Pick a fruit
            ul.styledselect
              li
                input#fruitCherry(type="radio", name="fruit", value="Cherry" checked)
                label(for="fruitCherry") Cherry
              li
                input#fruitLemon(type="radio", name="fruit", value="Lemon")
                label(for="fruitLemon") Lemon
              li
                input#fruitBanana(type="radio", name="fruit", value="Banana")
                label(for="fruitBanana") Banana
              li
                input#fruitStrawberry(type="radio", name="fruit", value="Strawberry")
                label(for="fruitStrawberry") Strawberry
              li
                input#fruitApple(type="radio", name="fruit", value="Apple")
                label(for="fruitApple") Apple
    article#formsjs
      header 
        h2 Sending forms through JavaScript
      section#xhrdata
        h3 Building an XMLHttpRequest manually
        button(type="button") Click Me!
        output
    article#ariaforms
      header
        h2 Form validation example
      section
        ul.errors(role="alert", aria-relevant="all")
        form(action="", method="POST")
          div
            label(for="username") Enter your name*:
            input#username(type="text", name="name", aria-required="true")
          div
            label(for="userage") Enter your age*:
            input#userage(type="number", name="age", placeholder="Enter 1 to 150", aria-required="true")
          div
            button(type="submit") Submit
    article
      header
        h2 Tabbed infobox
      section#infobox
        ul(role="tablist")
          li.active(role="tab", aria-selected="true", aria-setsize="3", aria-posinset="1" tabindex="0") Tab 1
          li(role="tab", aria-selected="false" aria-setsize="3" aria-posinset="2" tabindex="0") Tab 2
          li(role="tab", aria-selected="false" aria-setsize="3" aria-posinset="3" tabindex="0") Tab 3
        div.panels
          article.activepanel(role="tabpanel", aria-hidden="false")
            h3 The first tab
            p.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque turpis nibh, porttitor nec venenatis eu, pulvinar in augue. Vestibulum et orci scelerisque, vulputate tellus quis, lobortis dui. Vivamus varius libero at ipsum mattis efficitur ut nec nisl. Nullam eget tincidunt metus. Donec ultrices, urna maximus consequat aliquet, dui neque eleifend lorem, a auctor libero turpis at sem. Aliquam ut porttitor urna. Nulla facilisi.

          article(role="tabpanel", aria-hidden="true")
            h3 The second tab
            p.
              This tab hasn't got any Lorem Ipsum in it. But the content isn't very exciting all the same.
              
          article(role="tabpanel", aria-hidden="true")
            h3 The third tab
            p.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque turpis nibh, porttitor nec venenatis eu, pulvinar in augue. And now an ordered list: how exciting!
            ol
              li dui neque eleifend lorem, a auctor libero turpis at sem.
              li Aliquam ut porttitor urna.
              li Nulla facilisi
    article
      header
        h2 Basic custom controls
      section#ariamedia.player
        video(controls)
          source(src="/media/video/rabbit320.mp4", type="video/mp4")
          source(src="/media/video/rabbit320.webm", type="video/webm")
          p Your browser doesn't support HTML5 video. Here is a #[a(href="/media/video/rabbit320.mp4") link to the video] instead.
        div.controls
          button.playpause(type="button") Play
          button.stop(type="button") Stop
          button.rwd(type="button") Rwd
          button.fwd(type="button") Fwd
          time(datetime="PT0H0M0S") 00:00
    