doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/stylesheets/assess/postcard.css")
    title #{title}
  body
    form
      h1 to: Mozilla
      div#from
        label(for="name") from:
        input#name(type="text", name="user_name")

      div#reply
        label(for="mail") reply:
        input#mail(type="email", name="user_email")

      div#message
        label(for="msg") Your message:
        textarea#msg(name="user_message")
    
      div.button
        button(type="submit") Send your message